@charset "UTF-8";

.wrap{
	width:1200px;
	margin:10px auto 0 auto;
}

.menu-item{
	width:100px;
}

.menu-text{
	color:black;
	font-weight:bold;
	cursor:pointer;
}

.color-gray{
	color:gray;
}

#singer-text{
	font-weight:bold;
	font-size:20px;
	margin-left:5px;
}

#footer-size{
	font-size:10px;
}



